body {
    background-color: #ffffff;
    color: #000000;
}

body.themeK, body.themeK input {
    background-color: #000000;
    color: #ffffff;
}

.gamesquare svg {
    border: dotted 2px #999999;
}

.incorrect svg {
    background-color: #cccccc;
    border: none;
}

.themeK .incorrect svg {
    background-color: #666666;
}

.almost svg {
    background-color: #ffdd00;
    border: none;
}

.themeOB .almost svg {
    background-color: #0000ff;
}

.correct svg {
    background-color: #00cc00;
    border: none;
}

.themeOB .correct svg {
    background-color: #ff9900;
}

.themeOB svg text {
    fill: #ffffff
}

svg {
    margin: 3px;
}

svg text {
    font-family: Helvetica, Arial, sans-serif;
    text-anchor: middle;
    dominant-baseline: central;
}

.themeW svg#addrow text,
.themeW svg.erase text {
    fill: #000000;
}

.themeK svg#addrow text,
.themeK svg.erase text {
    fill: #ffffff;
}

span.themeOB {
    display: none;
}
.themeOB span.themeOB {
    display: inline;
}
.themeOB span.themeGY {
    display: none;
}

span.themeK {
    display: none;
}
.themeK span.themeK {
    display: inline;
}
.themeK span.themeW {
    display: none;
}

.tapme {
    margin: 5px;
}

.tapme input {
    font-size: 40pt;
}

.tapme label {
    font-size: 16pt;
}

.centerme {
    text-align: center;
}

#content {
    margin: 0 auto;
    max-width: 800px;
    padding: 5px;
}

#gamecontent {
    margin: 0 auto;
    max-width: 400px;
}

.display {
    font-size: smaller;
}

div.display div.edit {
    display: none;
}

div.display.edit div.edit {
    display: block;
}

div.display.summary div.matchwords {
    display: none;
}

div.display.words div.matchsummary {
    display: none;
}

div.edit {
    width: 100%;
    position: relative;
}

.autocomplete {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%)
}

.matchcount.calculating {
    color: #999999;
}

.matchrest.less .matchlong,
.matchrest.less .matchless {
    display:none;
}

.matchrest.more .matchmore {
    display: none;
}

#gameboard .matchcountanswer {
    display: none;
}

#answerrow .matchcountguess {
    display: none;
}

#paste {
    width: 100%;
}
