body {
    background-color: #ffffff;
    color: #000000;
}

body.darkmode {
    background-color: #000000;
    color: #ffffff;
}

svg {
    border: dotted 2px #999999;
}

.incorrect svg {
    background-color: #cccccc;
    border: none;
}

.darkmode .incorrect svg {
    background-color: #666666;
}

.almost svg {
    background-color: #ffff00;
    border: none;
}

.colorblind .almost svg {
    background-color: #0000ff;
}

.correct svg {
    background-color: #00ff00;
    border: none;
}

.colorblind .correct svg {
    background-color: #ff9900;
}

svg {
    margin: 3px;
}

#addrow {
    text-align: center;
    font-size: 64pt;
}

.tapme {
    margin: 5px;
}

.tapme input {
    font-size: 40pt;
}

.tapme label {
    font-size: 16pt;
}

.centerme {
    text-align: center;
}

#content {
    margin: 0 auto;
    max-width: 800px;
    padding: 5px;
}

#gameboard {
    margin: 0 auto;
    max-width: 400px;
}