body {
    background-color: #ffffff;
    color: #000000;
}

body.darkmode {
    background-color: #000000;
    color: #ffffff;
}

.incorrect svg {
    background-color: #cccccc;
}

.darkmode .incorrect svg {
    background-color: #666666;
}

.almost svg {
    background-color: #ffff00;
}

.colorblind .almost svg {
    background-color: #0000ff;
}

.correct svg {
    background-color: #00ff00;
}

.colorblind .correct svg {
    background-color: #ff9900;
}

svg {
    margin: 3px;
}
